@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Libre+Baskerville&family=Merienda:wght@400;700&family=Special+Elite&display=swap');
/* font-family: 'Libre Baskerville', serif; 
font-family: 'Lato', sans-serif;
font-family: 'Merienda', cursive;
font-family: 'Special Elite', cursive; */


body,
html {
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Navbar  */
@media screen {}

@media only screen and (max-width: 600px) {
    .welcome-open {
        padding: 15px;
    }
}

.fa-solid.fa-book-open-reader {
    padding-left: 15px;
}

/* end of Navbar  */

/* footer  */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    padding-top: 5px;
    color: #fff;
}

/* end of footer  */

/* Home page  */

.homepage {
    padding-top: 30px;
}

.hero {
    background: url("../images/pexels-janko.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

/* Code from CSS tricks to produce typewriter effect on home page heading  */
/* https: //css-tricks.com/snippets/css/typewriter-effect/  */

.typewriter {
    font-family: 'Special Elite', cursive;
    padding-top: 15px;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

/* Carousel  */

.quotes-panel {
    text-align: center;
    font-family: 'Libre Baskerville',
        serif;
    color: #3e2723;
}

/*  this isn't working? */
.card-panel.welcome-quote-panel {
    padding: 10px important !;
}

.carousel.carousel-slider {
    top: 100px;
    left: 0;
}

/* end home page  */

/* General styling  */

.card-panel,
.card {
    border-radius: 12px;
    background-color: rgba(255 248 246 / 90%);
}

.card-thought {
    /* https: //getcssscan.com/css-box-shadow-examples 
box shadow #69 */
    border: solid 2px #473732;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 48px;
        padding: 12px;
}

.curly {
    font-family: 'Merienda', cursive;
    font-weight: 700;
    color: #473732;
}

.underline {
    text-decoration: underline;
}

.rating {
    padding-bottom: 10px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.row-buttons {
    margin: 20px;
}

.social {
    margin: 15px;
}

@media only screen and (max-width: 600px) {
    .social {
        margin: 20px 4px;
        font-size: 50%;
    }
}


/* buttons  */

.btn:hover {
    color: #473732;
    background-color: #fff;
}

.btn {
    color: #fff;
    background-color: #473732;
}

.cancel,
.reset {
    color: #473732 !important;
    background-color: #fff !important;
}

.cancel:hover,
.reset:hover {
    color: #fff !important;
    background-color: #473732 !important;
}

i:hover {
    animation: rotate 1.2s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.fa-solid.fa-book-open-reader:hover {
    animation: none;
}

h2,
.paragraph {
    font-family: 'Libre Baskerville', serif;
}

.title {
    font-family: 'Libre Baskerville',
        serif;
}

.textshadow {
    text-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
}

/* end of general styling  */

/* login page  */

.login-hero {
    background: url("../images/pexels-skitterphoto.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
}

/* .link-here {
    color: #F78764;
}

.link-here:hover {
    border-bottom: 2px solid #F78764;
} */

/* end of login page  */


/* profile page  */
.profile-hero,
.welcome-hero {
    background: url("../images/pexels-skitterphoto-book.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 80vh;
}


.profile-link {
    color: #473732;
    font-family: 'Lato', sans-serif;
}

.profile-link:hover {
   text-decoration: underline;
}

.comein {
    margin-top: 15px;
}

/* end of profile page  */

/* Review page  */

.review-hero {

    background: url("../images/pexels-books-long.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
}

.review-header {
    font-family: 'Libre Baskerville', serif;
    color: #473732;
    border-bottom: 2px solid #473732;
    padding-bottom: 25px;
}

.flashes h4 {
    list-style: 2;
}

.card-review {
    height: 650px;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: 3px solid #fff;
    border-radius: 6px;
}

#myBtn:hover {
    background-color: #fff;
    color: #473732;
}

.review-title {
    font-family: 'Libre Baskerville';
    font-size: 1.3em;
    text-decoration: underline;
    padding-bottom: 12px;
}

.review-card-title {
    font-family: 'Special Elite', cursive;
    text-decoration: underline;
}

.card-title {
        font-size:1.5em;
        font-weight:600;
}

.small-title {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.card-body-description {
    font-size: 16px;
}

.review-image-reviews {
    max-height: 400px;
    padding-top: 15px;
}

.favourite {
    margin-top: 10px;
}

.favourite-review {
    margin-bottom: 10px;
}

/* End of review page  */


/* Add review  */

.hero-add-review {
    background: url("../images/pexels-negative-space.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #473732;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #473732;
}

/* sass from materialize for input fields  */

/* label color */
.input-field label {
    color: rgb(43, 42, 42);
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: #3e2723;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #473732;
    box-shadow: 0 1px 0 0 #473732;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #d32f2f;
    box-shadow: 0 1px 0 0 #d32f2f;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

/* end of sass from materialize  */


/* Book review  */

.book-review-image {
    padding-top: 20px;
    max-height: 600px;
}

.quotes {
    color: #473732;
    font-family: 'Merienda', cursive;
}

@media only screen and (max-width: 600px) {
    #thoughts {
            margin-left: 0;
            width: 100%;
    }
    .thoughts {
        margin-left:0 !important;
        width: 100%;
    }

}

/* for larger screens add a bit of padding to the top of the image  */
@media screen and (min-width: 800px) {
    .review_image {
        padding-top: 60px;
    }
}

/* Code to style the HR  */
/* https: //codepen.io/Grienauer/pen/PdPPKZ  */

.separator {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0;
}

.separator--line {
    border: 0;
    border-bottom: 5px solid #473732;
    width: 0;
    animation: separator-width 1s ease-out forwards;
}

@keyframes separator-width {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

/* End of book review  */

/* edit review  */

/* this code because the font awesome icons overlap the prepopulated text in edit forms  */
@media only screen and (max-width: 600px) {

    .input-field .prefix~input,
    .input-field .prefix~textarea,
    .input-field .prefix~label,
    .input-field .prefix~.validate~label,
    .input-field .prefix~.helper-text,
    .input-field .prefix~.autocomplete-content {
        margin-left: 42px;
        width: 90%;
    }
}

/* end of edit review  */

/* Users and Genres  */


.genre-users {
    background: url("../images/pexels-janko.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
}

/* modal  */

#modal-genre,
#modal-user {
    overflow-x: hidden;
}

.modal-delete {
    border-radius: 5px;
    background-color: #473732;
    color: #fff8f6e6;
}

.modal-title {
    font-family: 'Libre Baskerville', serif;
    text-decoration: underline;
    color: #fff;
}

.card-margin-top {
    margin-top: 50px;
}