@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Pacifico&family=Poppins&family=Special+Elite&display=swap');
/* font-family: 'Libre Baskerville', serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Special Elite', cursive; */

body,
html {
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Navbar  */

.fa-solid.fa-book-open-reader {
    padding-left: 15px;
}

/* end of Navbar  */

/* footer  */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    padding-top: 5px;
    color: #fff;
}

/* end of footer  */

/* Home page  */

.homepage {
    padding-top: 30px;
}

.hero {
    background: url("../images/pexels-janko.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

/* Code from CSS tricks to produce typewriter effect on home page heading  */
/* https: //css-tricks.com/snippets/css/typewriter-effect/  */

.typewriter {
    font-family: 'Special Elite', cursive;
    padding-top: 15px;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

/* Carousel  */

.quotes-panel {
    text-align: center;
    font-family: 'Libre Baskerville',
        serif;
    color: #3e2723;
}

/*  this isn't working? */
.card-panel.welcome-quote-panel {
    padding: 10px important !;
}

.row.carousel-row,
.carousel-item-active,
.carousel-item {
    max-height: 250px;
}


/* end home page  */

/* General styling  */

.card-panel,
.card {
    border-radius: 12px;
}

.curly {
    font-family: 'Pacifico', cursive;
}

.brown-text {
    color: #3e2723;
}

.row {
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 0; */
}

/* buttons  */

.cancel,
.reset {
    color: #3e2723;
    background-color: #fff !important;
}

.cancel:hover,
.reset:hover {
    color: #fff;
    background-color: #3e2723 !important;
}

i:hover {
    animation: rotate 1.2s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.fa-solid.fa-book-open-reader:hover {
    animation: none;
}

h2,
.paragraph {
    font-family: 'Libre Baskerville', serif;
}

.title {
    font-family: 'Libre Baskerville',
        serif;
}

.textshadow {
    text-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
}

/* end of general styling  */

/* login page  */

.login-hero {
    background: url("../images/pexels-skitterphoto.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
}

.link-here {
    color: #F78764;
}

.link-here:hover {
    border-bottom: 2px solid #F78764;
}

/* end of login page  */


/* profile page  */
.profile-hero,
.welcome-hero {
    background: url("../images/pexels-skitterphoto-book.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 80vh;
}

/* end of profile page  */

/* Review page  */

.review-hero {

    background: url("../images/pexels-books-long.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.review-header,
.genre-header {
    font-family: 'Libre Baskerville', serif;
    color: #3e2723;
}

.flashes h4 {
    list-style: 2;
}

.card-review {
    min-height: 700px;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: 3px solid #fff;
    border-radius: 6px;
}

#myBtn:hover {
    background-color: #fff;
    color: #3e2723;
}

.review-title {
    font-family: 'Libre Baskerville';
    text-decoration: underline;

}

.review-card-title {
    padding-top: 15px;
    font-family: 'Special Elite',
        cursive;
    text-decoration: underline;
}

.small-title {
    font-size: 20px;
    font-family: 'Poppins',
        sans-serif;

}

.card-body-description {
    font-size: 16px;
}

/* End of review page  */


/* Add review  */

.hero-add-review {
    background: url("../images/pexels-negative-space.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #3e2723;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #8d6e63;
}

.btn {
    background-color: #8d6e63;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #3e2723;
}

/* sass from materialize for input fields  */

/* label color */
.input-field label {
    color: rgb(43, 42, 42);
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: #3e2723;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #3e2723;
    box-shadow: 0 1px 0 0 #3e2723;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #d32f2f;
    box-shadow: 0 1px 0 0 #d32f2f;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

/* end of sass from materialize  */


/* Manage genres  */

/* .card-title-genre {
    font-size: 16px;
} */