{% extends "base.html" %}
{% block content %}
<div class="hero-add-review">
    <div class="row">
        <div class="card-panel col m8 offset-m2">
            <form method="POST" action="{{ url_for('add_review') }}">
                <h3 class="brown-text center-align">Add Review</h3>
                <!-- This could be used with ISBN api  -->
                <!-- <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">textsms</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Autocomplete</label>
                    </div>
                </div>
            </div>
        </div> -->

                <!-- Come back to this when Tim goes over how to create the task categories  -->
                <div class="row">
                    <div class="input-field col s8 offset-m2">
                        <select id="genre_name" name="genre_name" class="validate" required>
                            <option value="" disabled selected>Choose Genre</option>
                            {% for genre in genres %}
                            <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="genre_name">Genre</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-m2">
                        <i class="fa-solid fa-book prefix"></i>
                        <input id="book_name" name="book_name" type="text" class="validate" required>
                        <label for="book_name">Book Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-m2">
                        <i class="fa-solid fa-user-pen prefix"></i>
                        <input id="author_name" name="author_name" type="text" class="validate" required>
                        <label for="author_name">Author</label>
                    </div>
                </div>
                <!-- Review text area  -->
                <div class="row">
                    <div class="input-field col s8 offset-m2">
                        <i class="fa-solid fa-pen-fancy prefix"></i>
                        <textarea id="review" name="review" class="materialize-textarea" required></textarea>
                        <label for="review">Review</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-m2"><i class="fa-solid fa-star prefix"></i>
                        <select id="rating" name="rating" class="validate" required>
                            
                            <option value="" disabled selected>Rating</option>
                            {% for rating in ratings %}
                            <option value="{{ rating.rating }}">{{ rating.rating }}</option>
                            {% endfor %}
                        </select>
                        <label for="rating"></label>
                    </div>
                    <!-- Favourite toggle  -->
                    <div class="row center-align">
                        <div class="switch col s4 offset-m1">
                            <label for="favourite" class="brown-text text-darken-3">
                                Favourite
                                <input type="checkbox" id="favourite" name="favourite">
                                <span class="lever"></span>
                            </label>
                        </div>
                        <!-- Submit  -->
                        <div class="col s4 offset-m1">
                            <button class="btn waves-effect waves-light" type="submit">Submit Review
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}