<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" }>
    {% block styles %}
    {% endblock %}
    <title>The Book Nook</title>
</head>

<body>
    <header>
        <nav class="nav-extended textshadow brown darken-3">
            <!-- top navbar  -->
            <div class="nav-wrapper">
                <a href="{{ url_for('get_reviews') }}" class="title"><i class="fa-solid fa-book-open-reader"></i></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
                        class="fa-solid fa-ellipsis"></i></a>
                <ul class="right hide-on-med-and-down">
                    {% if session.user %}
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                    </li>
                    <li><a href="{{ url_for('add_review') }}">Add Review</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('welcome') }}">Welcome</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('get_reviews') }}">All Reviews</a></li>
                </ul>
            </div>
        </nav>
        <!-- mobile navbar  -->
        <ul class="sidenav" id="mobile-demo">
            {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('add_review') }}">Add Review</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('welcome') }}">Welcome</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            <li><a href="{{ url_for('get_reviews') }}">All Reviews</a></li>
        </ul>
    </header>

    <main>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h5 class="brown-text text-darken-3 center-align white-text">{{ message }}</h5>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </main>
    {% block content %}

    {% endblock %}
    <footer class="page-footer brown darken-3">
        <div class="container">
            <div class="footer-links">
                <div class="col-6 center-align">
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#">Privacy Policy</a></li>
                        <li><a class="grey-text text-lighten-3" href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-m3 center-align">
                    <!-- code for datetime from code institute mini project Thorin&Co  -->
                    <p class="copyright text-muted">&copy; The Book Nook by Suzy Bee <span id="copyright"></span></p>
                </div>
            </div>
        </div>
    </footer>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
</body>



</html>