{% extends "base.html" %}
{% block content %}
<div class="hero-add-review">
    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
            <div class="card-panel">
                <h3 class="brown-text center-align">Edit Review</h3>
                <div class="row">
                    <div class="col s4">
                        <a href="{{ url_for('get_reviews') }}" class="btn waves-effect waves-light"><i
                                class="fa-solid fa-chevron-left"></i> Back to reviews
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m10 offset-m1 input-field"><i class="fa-solid fa-dragon prefix"></i>
                        <select id="genre_name" name="genre_name" class="validate" required>
                            <option value="" disabled>Choose Genre</option>
                            {% for genre in genres %}
                            {% if genre.genre_name == review.genre_name %}
                            <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option>
                            {% else %}
                            <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="genre_name"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m10 offset-m1 input-field">
                        <i class="fa-solid fa-book prefix"></i>
                        <input id="book_name" name="book_name" type="text" class="validate"
                            value="{{ review.book_name }}" required>
                        <label for="book_name">Book Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m10 offset-m1 input-field">
                        <i class="fa-solid fa-user-pen prefix"></i>
                        <input id="author_name" name="author_name" type="text" class="validate"
                            value="{{ review.author_name }}" required>
                        <label for="author_name">Author</label>
                    </div>
                </div>
                <!-- Review text area  -->
                <div class="row">
                    <div class="col s12 m10 offset-m1 input-field">
                        <i class="fa-solid fa-user-pen prefix"></i>
                        <input id="review_title" name="review_title" type="text" class="validate" minlength="1"
                            maxlength="100" value="{{ review.review_title }}" required>
                        <label for="review_title">Review Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m10 offset-m1 input-field">
                        <i class="fa-solid fa-keyboard prefix"></i>
                        <textarea id="review" name="review" class="materialize-textarea" required>
                            {{- review.review }}</textarea>
                        <label for="review">Review</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m10 offset-m1 input-field">
                        <i class="fa-solid fa-keyboard prefix"></i>
                        <textarea id="description" name="description" class="materialize-textarea" maxlength="300" required>
                            {{- review.description }}</textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m10 offset-m1 input-field">
                        <i class="fa-solid fa-book prefix"></i>
                        <input id="image" name="image" type="url" class="validate" value="{{ review.image }}" required>
                        <label for="image">Cover Image for Book</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m10 offset-m1 input-field">
                        <i class="fa-solid fa-star prefix"></i>
                        <select id="rating" name="rating" class="validate" required>
                            <option value="" disabled selected>Rating</option>
                            {% for rating in ratings %}
                            {% if review.rating_no == review.rating_no %}
                            <option value="{{ rating.rating_no }}" selected>{{ rating.rating_no }}</option>
                            {% else %}
                            <option value="{{ rating.rating_no }}">{{ rating.rating_no }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="rating"></label>
                    </div>
                    <!-- Favourite toggle  -->
                    <div class="row center-align">
                        <div class="col s12">
                            <a href="{{ url_for('get_reviews') }}" class="btn waves-effect waves-light">Cancel <i
                                    class="fa-solid fa-xmark"></i>
                            </a>
                            <button class="btn waves-effect waves-light" type="submit">Edit Review <i
                                    class="fa-solid fa-pen-fancy"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}