{% extends "base.html" %}
{% block content %}
<div class="hero-add-review">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <a href="{{ url_for('get_genres') }}" class="btn waves-effect waves-light"><i class="fa-solid fa-chevron-left"></i>
                    Back to genres
                </a>
                <div class="row">
                    <div class="col s12 m6 offset-m3">
                        <h3 class="review-header center-align">Edit Genre</h3>
                    </div>
                </div>

                <form method="POST" action="{{ url_for('edit_genre', genre_id=genre._id) }}">
                    
                    <!-- Genre  -->
                    <div class="row">
                        <div class="col s12 m10 offset-m1 input-field">
                            <i class="fa-solid fa-book prefix"></i>
                            <input id="genre_name" name="genre_name" type="text" class="validate"
                                value="{{ genre.genre_name }}" required>
                            <label for="genre_name">Genre</label>
                        </div>
                    </div>
                    <!-- Submit  -->
                    <div class="row center-align">
                        <div class="col s12 m12">
                            <button class="btn waves-effect waves-light" type="submit">
                                Edit Genre <i class="fa-solid fa-pen-fancy"></i>
                            </button>
                            <a href="{{ url_for('get_genres') }}" class="btn waves-effect waves-light cancel">
                                Cancel <i class="fa-solid fa-xmark"></i>
                            </a>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}