{% extends "base.html" %}
{% block content %}
<div class="profile-hero">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel center-align">
                <h4 class="brown-text curly">
                    Welcome, {{ fname }}</h4>
            </div>
            <!-- Try to add all reviews and favourite reviews here   -->
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h4 class="review-header center-align brown-text">My Reviews</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Book Name</th>
                            <th>Author</th>
                            <th>Review Title</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    {% for review in my_reviews %}
                    <tbody>
                        <tr>
                            <td><a href="{{ url_for('see_review', reviews=review._id) }}" target="_blank">{{ review.book_name }}</a></td>
                            <td>{{ review.author_name }}</td>
                            <td>{{ review.review_title }}</td>
                            <td>{{ review.rating_no }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h4 class="review-header center-align brown-text">My Favourites</h4>
                {% if favourites|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Book Name</th>
                            <th>Author</th>
                            <th>Review Title</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    {% for fave in username.favourites %}
                    <tbody>
                        <tr>
                            <td><a href="{{ url_for('see_review', reviews=review._id) }}" target="_blank">{{ review.book_name }}</a>
                            </td>
                            <td>{{ review.author_name }}</td>
                            <td>{{ review.review_title }}</td>
                            <td>{{ review.rating_no }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                </ul>
                {% else %}
                <h6 class="center-align">You don't have any favourites yet! Go <a href="{{ url_for('get_reviews') }}">here</a> to see some reviews!</h6>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}