{% extends "base.html" %}
{% block content %}

<div class="review-hero">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel z-depth-4">
                <h2 class="review-header center-align">Book Reviews</h2>
                <span class="brown-text">
                    <ul class="collapsible">
                        {% for review in reviews %}
                        <li>
                            <div class="collapsible-header white-text brown darken-3">
                                <i class="fa-solid fa-caret-down"></i>
                                {{ review.book_name }}
                                by {{ review.author_name }}
                            </div>
                            <div class="collapsible-body">
                                <p>Genre: {{ review.genre_name }}</p>
                                <p>Review: {{ review.review }}</p>
                                <!-- below line should be changed to user - make a new user called Sunday Times for the Mort review  -->
                                <p>Reviewer: '{{ review.reviewed_by }}'</p>
                                <p>Rating: {{ review.rating }}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}