{% extends "base.html" %}
{% block content %}
<div class="hero-add-review">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel z-depth-4">
                <div class="row">
                    <div class="col s12 m8 offset-m2">
                        <h3 class="review-header center-align">Manage Users</h3>
                    </div>
                </div>
                <div class="row">
                    {% for user in users %}
                    <div class="col s12 m4">
                        <div class="card center-align">
                            <div class="card-content">
                                <span class="">{{ user.username }}</span>
                            </div>
                            <div class="card-body">
                                <a href="{{ url_for('edit_user', user_id=user._id) }}"
                                    class="btn waves-effect waves-light row-buttons">Edit
                                    <i class="fa-solid fa-pen-fancy"></i>
                                </a>
                                <a href="{{ url_for('see_user', user_id=user._id) }}"
                                    class="btn waves-effect waves-light row-buttons cancel">Delete
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}