{% extends "base.html" %}
{% block content %}
<div class="welcome-hero">
    <div class="row homepage">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel center-align">
                <div class="row">
                    <h2 class="title">The Book Nook</h2>
                </div>
                <div class="row">
                    <p class="paragraph">The book nook is a book review forum for readers to review books they have read
                        and find new ones.</p>
                </div>
                <div class="carousel-here">
                    <h3>Carousel of book images here </h3>
                </div>

                <div class="row">
                    <h5 class="typewriter">
                        Log in to discover your next favorite book...
                    </h5>
                </div>
                <div class="row">
                    <a href="{{ url_for('get_reviews') }}" class="waves-effect brown darken-3 btn-large">Come on in</a>
                </div>
            </div>
            <!-- Try to add all reviews and favourite reviews here   -->
        </div>
    </div>
</div>
{% endblock %}